.wrapper {
    position: absolute;
    right: -100px;
    top: 20px;
    background-color: var(--cBg);
    width: 100px;
    padding: 8px;
    padding-left: 14px;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition-duration: 0.125s;
    border-left: 2px solid var(--cBgRed);
}

.wrapper:hover {
    background-color: var(--cBgDarkRed);
}