.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cTextLight);
}

.inner {
  padding: 16px;
  border-radius: 6px;
  background-color: var(--cBg);

  max-width: 1200px;
  width: 100%;

  position: relative;
}
